.appbar {
  background-color: #00c8c1 !important;
  position: fixed !important;
  z-index: 1000;
}

.box {
  justify-content: center !important;
}

.btn {
  margin-right: 5% !important;
}
.menu-item {
  display: flex;
  flex-direction: column;
  height: 20vh;
}
Typography {
  height: 2rem !important;
}
