.card_park {
  width: 45vw;
}
.card-park-container {
  margin-top: 3rem;
}

.park-card-container {
  position: relative;
  top: 9rem;
  margin-left: 1vw;
}

.card_park {
  margin-bottom: 2rem;
  border-radius: 1rem !important;
  box-shadow: #a3a3a3b2 4px 4px 3px 1px !important;
}

.btn-info {
  left: 35%;
}

.filter-container {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
  height: 30vh;
  width: 100vw;
  z-index: 200;
  padding-top: 10rem;

}

