.leaflet-container {
  width: 50vw;
  height: 65vh;
  margin-right: 1vw;
  border-radius: 1rem;
}

  .map-container {
    position: fixed;
    right: 0;
    top: 18rem;
    box-shadow: #a3a3a3b2 4px 4px 3px 1px !important;
  }
